
.boton-eliminar {
  background-color: #f13434; 
  color: rgb(236, 147, 147); 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.boton-eliminar:hover {
  background-color: #721212; 
}


.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


h1 {
  margin-top: 50px;
  text-align: center;
}


.cita-card {
  border: 2px solid rgb(73, 73, 73);
  border-radius: 10px;
  padding: 15px 10px; 
  margin-bottom: 20px;
}


#arreglo {
  color: grey;
  padding-right: 150px; 
  margin: 0;
  padding: 0; 
}



